.health-gauge {
	width: 200px;
	height: 180px;
	padding-top: 10px;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	.stamina-temp-progress {
		position: absolute;
		transform: scale(1.6);
	}

	.stamina-progress-wrap {
		position: absolute;
		transform: scale(1.3);

		.stamina-winded-hatch {
			position: absolute;
			top: 0;
			left: 0;
			pointer-events: none;
		}
	}

	.recovery-progress {
		position: absolute;
	}

	.gauge-info {
		position: absolute;
		text-align: center;
		font-size: 13px;
	}
}

html[data-theme="dark"] {
	.gauge-info {
		color: rgb(255, 255, 255);
	}
}
